#red{
    color: rgb(255, 0, 0); /* მიანიჭებს rgb წითელ ფერს პარაგრაფს */
    width: 50px; /* პარაგრაფი გამოჩდება კომპიუტერზე 150% პიქსელებით */
}

#green{
    color: rgb(0, 255, 0); /* მიანიჭებს rgb მწვანე ფერს პარაგრაფს */
    width: 150%; /* პარაგრაფი გამოჩდება კომპიუტერზე 150 პიქსელებით ანუ იგივე 50px */
}

#blue{
    color: rgb(0, 0, 255); /* მიანიჭებს rgb ლურჯ ფერს პარაგრაფს */
    width: 20px; /* პარაგრაფი გამოჩდება 120% პიქსელებით */
}

body{
    text-align: center;
}