@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap);
img {
    object-fit:cover
}

label {
    display: flex;
    flex-direction: column;
    gap:.3rem
}

* {
    box-sizing: border-box;
    font-family: Fira Sans, sans-serif;
    margin: 0;
    padding:0
}

body, div {
    overflow-x:hidden
}

::-webkit-scrollbar {
    width:10px
}

::-webkit-scrollbar-track {
    background:#f2f2f2
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    background:#222
}

nav {
    align-items: center;
    box-shadow: 0 7px 29px 0 #64646f33;
    height: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:999
}

.main-nav, nav {
    display: flex;
    flex-direction: column;
    width:100%
}

.main-nav {
    height: 100%;
    z-index:555
}

.main-top-nav {
    background-color: #222;
    display: flex;
    height: 40%;
    justify-content: center;
    width:100%
}

.top-nav {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width:60%
}

.social-links {
    display: flex;
    gap:1.3rem
}

.social-links a {
    color: #fff;
    font-size: 1.2rem;
    transition:.25s
}

.social-links a:hover {
    color:#bdbdbd
}

.main-bottom-nav {
    background-color: #fff;
    display: flex;
    height: 60%;
    justify-content: center;
    width:100%
}

.bottom-nav {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: space-between;
    overflow: visible;
    transition: .25s;
    width:60%
}

.main-links a {
    color: #222;
    font-size: 1.1rem;
    text-decoration: none;
    transition:.25s
}

.main-links a:hover {
    color:#000
}

.icon-links a {
    color:#222
}

nav img {
    object-fit:fill
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style:none
}

.bar-btn {
    align-items: center;
    background-color: initial;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 1.6rem;
    height: 2.5rem;
    justify-content: center;
    width:2.5rem
}

.cart {
    background-color: #fff;
    box-shadow: 0 7px 29px 0 #64646f33;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    justify-content: space-between;
    max-height: 700px;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 150px;
    transition: .25s;
    visibility: hidden;
    width: 25rem;
    z-index:-1
}

.cart-display {
    opacity: 1;
    visibility:visible
}

.cart ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 400px;
    overflow-y:scroll
}

.cart > div {
    overflow-y:hidden
}

.cart ul li {
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    gap: 1rem;
    height: 7.5rem;
    padding-bottom:1rem
}

.cart ul li > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.cart ul li > div button {
    background-color: initial;
    border: none;
    cursor: pointer;
    font-size:1.1rem
}

.li-img {
    height: 100%;
    width:40%
}

#cl-pr {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap:1rem
}

#cl-pr p:nth-child(2) {
    cursor: pointer;
    font-weight:700
}

#btn-cart {
    display: flex;
    flex-direction: column;
    gap:1rem
}

#btn-cart button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .8rem 0;
    transition: .25s;
    width:100%
}

#btn-cart button:first-child {
    background-color: #222;
    border: 2px solid #222;
    color:#fff
}

#btn-cart button:first-child:hover, #btn-cart button:nth-child(2) {
    background-color: initial;
    border: 2px solid #222;
    color:#222
}

#btn-cart button:nth-child(2):hover {
    background-color: #222;
    border-color: #0000;
    color:#fff
}

#red-circle {
    align-items: center;
    background-color: #ff1919;
    border-radius: 50%;
    bottom: 15px;
    color: #fff;
    display: flex;
    height: 20px;
    justify-content: center;
    left: 15px;
    position: absolute;
    width:20px
}

#cart-count {
    overflow: visible;
    position:relative
}

@media (max-width: 1350px) {
    .bottom-nav, .top-nav {
        width:80%
    }
}

@media (max-width: 900px) {
    nav img {
        width:150px
    }

    html {
        font-size:14px
    }

    .bottom-nav, .top-nav {
        width:100%
    }

    .main-bottom-nav, .main-top-nav {
        padding:0 5px
    }

    .bottom-nav {
        justify-content:space-evenly
    }
}

@media (max-width: 580px) {
    .bottom-nav {
        justify-content:space-between
    }

    .main-links {
        opacity: 0;
        position: absolute;
        visibility:hidden
    }

    .bar-btn, .display {
        display:flex
    }

    .display {
        align-items: center;
        background-color: #222;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 150px;
        transition: .25s;
        visibility: visible;
        width:100%
    }

    .main-links a {
        color:#fff
    }
}

@media (max-width: 380px) {
    html {
        font-size:12px
    }

    .cart {
        width:250px
    }
}

@media (max-width: 330px) {
    .cart {
        width:100%
    }
}

footer {
    align-items: center;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 0 1rem;
    position: relative;
    width:100%
}

.main-top-footer {
    width:60%
}

.top-footer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width:100%
}

.top-footer > div p:first-child {
    font-size: 1.3rem;
    font-weight:600
}

.top-footer form {
    display: flex;
    gap:.5rem
}

.top-footer form * {
    border-radius: 5px;
    height:3.125rem
}

.top-footer input {
    background-color: initial;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.05rem;
    padding: 10px;
    width:10.375rem
}

input:focus {
    outline:none
}

.top-footer button {
    border: none;
    cursor: pointer;
    font-size: 1.05rem;
    text-align: center;
    width:5rem
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    width:60%
}

.bottom-footer ul {
    display: flex;
    gap: .5rem;
    list-style-type:none
}

.hr-block {
    background-color: #fff;
    height: 1px;
    width:60%
}

@media (max-width: 1350px) {
    .bottom-footer, .hr-block, .main-top-footer {
        width:80%
    }
}

@media (max-width: 900px) {
    .bottom-footer, .hr-block, .main-top-footer {
        width:100%
    }
}

@media (max-width: 500px) {
    .top-footer {
        flex-direction: column;
        gap:1rem
    }
}

.main-hero {
    align-items: center;
    background-position: 50%;
    background-size: cover;
    height: 600px;
    width:100%
}

.hero, .main-hero {
    display: flex;
    justify-content:center
}

.hero {
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    width:60%
}

.hero p {
    color: #222;
    font-size:1.1rem
}

.hero h2 {
    color: #222;
    font-size: 3.5rem;
    font-weight:900
}

.hero-btns {
    display: flex;
    gap:1rem
}

.btn-a {
    background-color: #222;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: .9rem 1.3rem;
    text-decoration: none;
    transition:.25s
}

.btn-a:hover {
    background-color: #676767;
    padding:.9rem 1.5rem
}

@media (max-width: 1350px) {
    .hero {
        width:80%
    }
}

@media (max-width: 900px) {
    .main-hero {
        height: 500px;
        padding:0 5px
    }

    .hero {
        width:100%
    }
}

@media (max-width: 380px) {
    .main-hero {
        height:400px
    }

    .hero h2 {
        font-size:2.5rem
    }

    .hero p {
        font-size:1rem
    }

    .btn-a {
        padding:.7rem 1rem
    }

    .btn-a:hover {
        padding:.7rem 1.2rem
    }
}

.img-block {
    align-items: center;
    color: #fff;
    display: flex;
    height: 31.25rem;
    justify-content: center;
    position: relative;
    width:36.25rem
}

.img-block img, .overlay {
    height: 100%;
    position: absolute;
    width:100%
}

.overlay {
    background-color: #222;
    opacity:.5
}

.img-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    width:100%
}

.img-info p {
    font-size:1.2rem
}

.img-info h2 {
    font-size:2.5rem
}

.main-categories {
    align-items: center;
    display: flex;
    height: 550px;
    padding: 0 2rem;
    width:100%
}

.categories {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width:100%
}

.btn-a-categories {
    background-color: #fff;
    border-radius: 5px;
    color: #222;
    font-size: 1.2rem;
    padding: .9rem 1.3rem;
    text-decoration: none;
    transition:.25s
}

.btn-a-categories:hover {
    background-color:#d0d0d0
}

@media (max-width: 1350px) {
    .main-categories {
        height: 450px;
        padding:0 1rem
    }

    .categories {
        gap:1rem
    }

    .img-block {
        height: 25rem;
        width:30rem
    }
}

@media (max-width: 800px) {
    .main-categories {
        height: 100%;
        padding:2rem
    }

    .categories {
        align-items: center;
        flex-direction: column;
        gap:2rem
    }

    .img-block {
        height: 30rem;
        width:35rem
    }
}

@media (max-width: 550px) {
    .img-block {
        width:100%
    }
}

.main-collection-hero {
    align-items: center;
    background-position: 50%;
    background-size: cover;
    box-shadow: 0 0 29px 0 #64646f33;
    display: flex;
    height: 700px;
    justify-content: center;
    width:100%
}

.main-collection-hero > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align:center
}

.main-collection-hero p {
    color: #222;
    font-size: 1.2rem;
    font-weight:700
}

.main-collection-hero h2 {
    color: #222;
    font-size: 4rem;
    font-weight:900
}

.main-collection-hero > div > div {
    display: flex;
    gap:1rem
}

.main-collection-hero a {
    background-color: #222;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: .9rem 1.3rem;
    text-decoration: none;
    transition:.25s
}

.main-collection-hero a:hover {
    background-color: #676767;
    padding:.9rem 1.5rem
}

@media (max-width: 900px) {
    .main-collection-hero {
        height:500px
    }
}

@media (max-width: 380px) {
    .main-collection-hero h2 {
        font-size:2.5rem
    }

    .main-collection-hero p {
        font-size:1rem
    }

    .main-collection-hero a {
        padding:.7rem 1rem
    }

    .main-collection-hero a:hover {
        padding:.7rem 1.2rem
    }

    .main-collection-hero {
        height:400px
    }
}

.product {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding:10px
}

.top-info {
    height: 40%;
    overflow: hidden;
    position: relative;
    width:100%
}

.top-info img {
    height: 100%;
    width:100%
}

.top-info > div {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%);
    transition: .25s;
    visibility:hidden
}

.product:hover .top-info > div {
    bottom: 10px;
    opacity: 1;
    visibility:visible
}

.top-info > div > button {
    background-color: #222;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    height: 40px;
    width:40px
}

.top-info > div > p {
    background-color: #f0f8ff;
    font-size: .8rem;
    padding:.3rem .5rem
}

.info {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    width:100%
}

.info > p:first-child {
    font-size:1.1rem
}

.info > p {
    font-size:1.05rem
}

.info > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    width:100%
}

.info > div > button {
    background-color: initial;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
    cursor: pointer;
    font-size: 1.05rem;
    height: 40px;
    transition: .25s;
    width:100%
}

.info > div > button:hover {
    background-color: #222;
    border-radius: 0;
    color:#fff
}

.main-store {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 30px 10px;
    width:100%
}

.mn-store {
    position:relative
}

.pop-up {
    background-color: #fff;
    display: flex;
    gap: 2rem;
    height: 37rem;
    left: 50%;
    opacity: 1;
    padding: 2rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .25s;
    width: 60%;
    z-index:889
}

.pop-up > * {
    height: 100%;
    width:50%
}

.pop-up > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative
}

#close-icon {
    cursor: pointer;
    font-size: 1.1rem;
    position: absolute;
    right:0
}

.stock {
    color: #fff;
    font-weight: 500;
    padding:.3rem .5rem
}

.in-stock {
    background-color:#00b300
}

.out-stock {
    background-color:#ff2727
}

#product-title {
    font-size: 1.8rem;
    font-weight:600
}

#product-price {
    font-size: 1.4rem;
    font-weight:600
}

#product-add, #product-description {
    font-size:1.1rem
}

#product-add {
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 1rem;
    transition: .25s;
    width:100%
}

#product-add:hover {
    background-color: initial;
    color:#222
}

.blur {
    background-color: #000;
    height: 100vh;
    left: 50%;
    opacity: .3;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index:588
}

.store {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    width:60%
}

.search-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:60%
}

.search-bar > div {
    display: flex;
    gap:.5rem
}

.pagination {
    display: flex;
    gap: .8rem;
    list-style-type:none
}

.pagination button {
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: .8rem 1.3rem;
    transition:.25s
}

.pagination button:hover {
    background-color: initial;
    color:#222
}

@media (max-width: 1350px) {
    .pop-up, .search-bar, .store {
        width:80%
    }
}

@media (max-width: 900px) {
    .search-bar, .store {
        width:100%
    }

    .pop-up {
        padding: 1rem;
        width:95%
    }
}

@media (max-width: 800px) {
    .store {
        grid-template-columns:repeat(3, 1fr)
    }
}

@media (max-width: 600px) {
    .store {
        grid-template-columns:repeat(2, 1fr)
    }

    .search-bar {
        flex-direction: column;
        gap:1rem
    }

    .pop-up > * {
        width:100%
    }

    .pop-up > img {
        height:150px
    }

    .pop-up > div {
        height:400px
    }

    .pop-up {
        flex-direction: column;
        height: auto;
        width:50%
    }

    #product-title {
        font-size:1.3rem
    }

    #product-price {
        font-size:1rem
    }

    #product-description {
        font-size:.9rem
    }
}

@media (max-width: 400px) {
    .pop-up > img {
        height:200px
    }

    .pop-up > div {
        height:350px
    }

    .pop-up {
        width:80%
    }
}

@media (max-width: 350px) {
    .store {
        grid-template-columns:repeat(1, 1fr)
    }
}

.loader {
    animation: spin 2s linear infinite;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: #222;
    height: 60px;
    width:60px
}

@keyframes spin {
    0% {
        transform:rotate(0deg)
    }

    to {
        transform:rotate(1turn)
    }
}

.page-hero {
    align-items: center;
    background-color: #f0f8ff;
    color: #222;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 200px;
    justify-content: center;
    width:100%
}

.page-hero h2 {
    font-size:2rem
}

.page-hero p {
    display: flex;
    font-size: 1.1rem;
    gap:1rem
}

.page-hero p a {
    color: #222;
    text-decoration:none
}

.page-hero p a:hover {
    text-decoration:underline
}

.main-about {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 1rem;
    width:100%
}

.main-about > div {
    display: flex;
    gap: 2rem;
    width:60%
}

.main-about > div > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    text-align:center
}

.main-about > div > * {
    width:50%
}

#heading {
    font-size: 3.5rem;
    font-weight:400
}

#sub-heading {
    font-size: 2rem;
    font-weight:300
}

#about-info {
    font-size: 1.1rem;
    font-weight:300
}

@media (max-width: 1350px) {
    .main-about > div {
        width:80%
    }

    #heading {
        font-size:2.5rem
    }

    #sub-heading {
        font-size:1.5rem
    }
}

@media (max-width: 900px) {
    .main-about > div {
        width:100%
    }
}

@media (max-width: 700px) {
    .main-about > div {
        align-items: center;
        flex-direction: column !important;
        justify-content:center
    }
}

@media (max-width: 580px) {
    .main-about > div > * {
        width:100%
    }
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width:100%
}

.main-contact {
    display: flex;
    gap: 2rem;
    width:60%
}

.main-contact > * {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:50%
}

#contact-form > div h2, .contact-info > h2 {
    font-size: 2.3rem;
    font-weight:400
}

#contact-form > div p, .contact-info > p {
    color:#909090
}

.info-divs-main {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 50%);
    width:100%
}

.info-divs {
    display: flex;
    flex-direction: column;
    gap:1rem
}

.icon {
    font-size:2rem
}

.info-divs > h2 {
    font-weight:500
}

.info-text-div {
    color:#444
}

#contact-form > div {
    display: flex;
    flex-direction: column;
    gap:1rem
}

#contact-form input {
    height:50px
}

#contact-form input, #contact-form textarea {
    background-color: initial;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
    font-size: 1.1rem;
    padding:1rem
}

#contact-form textarea {
    max-height: 100px;
    max-width: 100%;
    min-height: 100px;
    min-width:100%
}

#contact-form button {
    background-color: #222;
    border: 1px solid #222;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
    transition:.25s
}

#contact-form button:hover {
    background-color: initial;
    color: #222;
    cursor:pointer
}

@media (max-width: 1350px) {
    .main-contact {
        width:80%
    }
}

@media (max-width: 900px) {
    .contact {
        padding:0 10px
    }

    .main-contact {
        width:100%
    }
}

@media (max-width: 800px) {
    .main-contact {
        flex-direction:column
    }

    .main-contact > * {
        text-align: center;
        width:100%
    }

    .info-divs-main {
        display: flex;
        justify-content:space-evenly
    }
}

@media (max-width: 560px) {
    .info-divs-main {
        display: grid;
        grid-template-columns:repeat(2, 50%)
    }
}

@media (max-width: 300px) {
    .info-divs-main {
        display: flex;
        flex-direction:column
    }
}

.td-product {
    align-items: center;
    display: flex;
    gap:1rem
}

.td-product img {
    height: 130px;
    object-fit: cover;
    width:100px
}

.cart-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    width:100%
}

.cart-page table {
    font-size: 1.1rem;
    width:60%
}

.cart-page table thead {
    display: flex;
    justify-content: center;
    width:100%
}

tr {
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content:space-evenly
}

td, th, tr {
    display: flex;
    padding: 5px;
    width:100%
}

td, th {
    justify-content: center;
    text-align:center
}

#delete-product {
    font-size:1.2rem
}

#delete-product, #math-operation {
    background-color: initial;
    border: none;
    cursor:pointer
}

.quantity-layot {
    align-items: center;
    border: 1px solid #222;
    color: #222;
    display: flex;
    height: 3.125rem;
    justify-content: space-between;
    padding: 0 1rem;
    width:6.25rem
}

.operation-quant {
    cursor: pointer;
    font-size:1.4rem
}

.order-div {
    align-items: center;
    width:100%
}

#main-order-div, .order-div {
    display: flex;
    gap: 2rem;
    justify-content:center
}

#main-order-div {
    height: 500px;
    width:60%
}

#promo-form {
    font-size: 1.1rem;
    justify-content: space-between;
    width:70%
}

#promo-div, #promo-form {
    display: flex;
    flex-direction:column
}

#promo-div {
    gap:1rem
}

#promo-div-input {
    display: flex;
    gap: 1rem;
    width:100%
}

#promo-div-input input {
    padding: 1rem;
    width:90%
}

#promo-div-input button, #promo-div-input input {
    background-color: initial;
    border: 1px solid #222;
    border-radius: 5px;
    font-size:1.1rem
}

#promo-div-input button {
    cursor: pointer;
    transition: .25s;
    width:100px
}

#promo-div-input button:hover {
    background-color: #222;
    color:#fff
}

#promo-div textarea {
    border-radius: 5px;
    font-size: 1.1rem;
    max-height: 200px;
    max-width: 100%;
    min-height: 200px;
    min-width: 100%;
    padding:1rem
}

#link-to-catalog {
    color: #222;
    text-decoration:none
}

#link-to-catalog:hover {
    text-decoration:underline
}

#total-info {
    background-color: #f2f3f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-between;
    padding: 1rem;
    width:30%
}

#total-info-title {
    font-size:1.5rem
}

#total-items {
    display: flex;
    justify-content:space-between
}

.hr {
    background-color: #222;
    height: 1px;
    width:100%
}

#total-price {
    display: flex;
    justify-content:space-between
}

#total-buttons {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width:100%
}

#total-buttons button {
    background-color: initial;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    padding: .9rem;
    transition:.25s
}

#total-buttons button:hover {
    background-color: #222;
    color:#fff
}

@media (max-width: 1350px) {
    #main-order-div, .cart-page table {
        width:80%
    }
}

@media (max-width: 1280px) {
    .td-product {
        flex-direction:column
    }
}

@media (max-width: 800px) {
    .cart-page {
        padding:0 5px
    }

    #main-order-div, .cart-page table {
        width:100%
    }

    .td-product img {
        height: 6rem;
        width:5rem
    }
}

@media (max-width: 600px) {
    #main-order-div {
        flex-direction: column;
        height:auto
    }

    #promo-form, #total-info {
        height: 400px;
        width:100%
    }
}

#sign-in input, #sign-up input {
    border: 1px solid #222;
    border-radius: 5px;
    padding: .9rem;
    width:100%
}

#sign-in h2, #sign-up h2 {
    font-size: 2.5rem;
    font-weight:400
}

#sign-in, #sign-up {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:100%
}

.main-auth button {
    background-color: #222;
    border: 1px solid #222;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1rem;
    transition: .25s;
    width:100%
}

.main-auth button:hover {
    background-color: initial;
    color:#222
}

.main-auth {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width:100%
}

.auth {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    width:60%
}

.hr-auth {
    background-color: gray;
    height: 800px;
    width:1px
}

@media (max-width: 1350px) {
    .auth {
        width:80%
    }
}

@media (max-width: 900px) {
    .main-auth {
        padding:0 1rem
    }

    .auth {
        width:100%
    }
}

@media (max-width: 600px) {
    .main-auth {
        padding:0 1rem
    }

    .auth {
        flex-direction: column;
        gap:2rem
    }

    .hr-auth {
        height: 1px;
        width: 100%
    }
}
/*# sourceMappingURL=main.1f6ea11d.css.map*/
